---
import IconChevronUp from './icons/IconChevronUp.astro'
---

<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-copyright">
        <p>
          &copy; <span id="current-year"></span> Abraham Galue. Todos los derechos
          reservados.
        </p>
      </div>
      <div class="footer-back-to-top">
        <a href="#top" class="back-to-top">
          <IconChevronUp />
          <span>Volver arriba</span>
        </a>
      </div>
    </div>
  </div>
</footer>

<style>
  .footer {
    background-color: var(--darker-blue);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    color: var(--white);
    padding: 2rem 0;
  }

  .footer-content {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    text-align: start;
  }

  @media screen and (width >= 768px) {
    .footer-content {
      justify-content: space-between;
    }
  }

  .footer-copyright {
    color: var(--gray-400);
    font-size: 0.875rem;
  }

  .back-to-top {
    align-items: center;
    border-radius: 2.5rem;
    border: solid 1px var(--gray-400);
    color: var(--gray-400);
    display: inline-flex;
    font-size: 0.875rem;
    gap: 0.5rem;
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    transition: var(--transition-fast);
  }

  .back-to-top:hover {
    border-color: var(--white);
    color: var(--white);
  }

  @media screen and (width <= 768px) {
    .back-to-top {
      padding: 0.6rem;
    }

    .back-to-top span {
      display: none;
    }
  }
</style>
